<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<form method="post" action="/journal/create-result" >
    <div>
        <label for="userId">UserId</label>
        <input type="text" id="userId" name="userId" placeholder="UserId" required="" autofocus="">
    </div>
    <div>
        <label for="subjectId" >SubjectId</label>
        <input type="text" id="subjectId" name="subjectId" placeholder="SubjectId" required="">
    </div>
    <div>
        <label for="grade" >Grade</label>
        <input type="text" id="grade" name="grade" placeholder="Grade" required="">
    </div>
    <div>
        <input name="_csrf" type="hidden">
        <button type="submit">Send</button>
    </div>
</form>
</body>
</html>