<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Journal</title>
    <style>
        table {
            border:1px solid #b3adad;
            border-collapse:collapse;
            padding:5px;
        }
        table th {
            border:1px solid #b3adad;
            padding:5px;
            background: #000000;
            color: #ffffff;
        }
        table td {
            border:1px solid #b3adad;
            text-align:center;
            padding:5px;
            background: #000000;
            color: #ffffff;
        }
    </style>
</head>
<body>
   <div>
       <table>
       <tbody>
       <tr>
           <th></th>
           <td th:each="subject:${subjects}" th:text="${subject.subjectName}"></td>
       </tr>

       <tr th:each="result:${resultList}">
           <td th:text="${result.user.firstName + ' ' + result.user.lastName}"></td>
           <td  th:each="grade, gradeStat : ${result.grades}" th:text="${result.grades[gradeStat.index]}">

       </tbody>
   </table></div>


    <div >
        <form target="/journal" method="post" action="/journal/edit">
            <h2>Edit student grade</h2>
            <p>
                <label for="userId">UserId</label>
                <input type="text" id="userId" name="userId" placeholder="UserId" required="" autofocus="">
            </p>
            <p>
                <label for="subjectId" >SubjectId</label>
                <input type="text" id="subjectId" name="subjectId" placeholder="SubjectId" required="">
            </p>
            <p>
                <label for="grade" >Grade</label>
                <input type="text" id="grade" name="grade" placeholder="Grade" required="">
            </p>
            <p>
                <button type="submit">Send</button>
            </p>
        </form>
    </div>

   <div >
       <form target="_self" method="post" action="/create-user">
           <h2>Add Student</h2>
           <p>
               <label for="username">Username</label>
               <input type="text" id="username" name="username"placeholder="Username" required="" autofocus="">
           </p>
           <p>
               <label for="password" >Password</label>
               <input type="password" id="password" name="password" placeholder="Password" required="">
           </p>
           <p>
               <button type="submit">Send</button>
           </p>
       </form>
   </div>

</body>
</html>