<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up!</title>
</head>
<body>
<div >
  <form method="post" action="/auth/signup">
    <h2 >Please sign in!</h2>
    <p>
      <label for="username">Username</label>
      <input type="text" id="username" name="username"placeholder="Username" required="" autofocus="">
    </p>
    <p>
      <label for="password" >Password</label>
      <input type="password" id="password" name="password" placeholder="Password" required="">
    </p>
    <p>
      <label for="firstName" >First Name</label>
      <input type="text" id="firstName" name="firstName" placeholder="First Name" required="">
    </p>
    <p>
      <label for="lastName" >Last Name</label>
      <input type="text" id="lastName" name="lastName" placeholder="Last Name" required="">
    </p>
    <input name="_csrf" type="hidden">
    <button type="submit">Sign in</button>
  </form>
</div>
</body>
</html>